- name: packages | dmenu
  become: true
  block:
    - name: packages | dmenu | clone repo
      git:
        repo: https://github.com/dixiedream/dmenu
        dest: /tmp/dmenu
        force: yes

    - name: packages | dmenu | install dmenu
      make:
        target: install
        chdir: /tmp/dmenu
  when: ansible_distribution in ["Debian", "Archlinux"]
