- name: packages
  become: true
  block:
    - name: packages | install common packages
      package:
        name:
          - sxiv
        state: latest
      when: ansible_distribution in ["Ubuntu", "Pop!_OS"]

    - name: packages | install window managers required packages
      package:
        name:
          - arandr
          - autorandr
          - dunst
          - maim
          - slock
          - unclutter
          - xclip
          - xcompmgr
          - "{{ xorg_server_package }}"
          - "{{ xorg_xinit_package }}"
          - "{{ xorg_xrandr_package }}"
          - xwallpaper
        state: latest
      when: ansible_distribution in ["Archlinux", "Artix Linux", "Debian"]

    - name: packages | install Xsetroot (Archlinux)
      pacman:
        name:
          - xorg-xsetroot
        state: latest
      when: ansible_distribution in ["Archlinux", "Artix Linux"]
