- name: install wayland packages
  become: true
  block:
    - name: packages | install wayland packages
      package:
        name:
          - alacritty
          - bemenu-wayland
          - dunst
          - grim
          - kanshi
          - slurp
          - swaybg
          - swayidle
          - swayimg
          - swaylock
          - wl-clipboard
          - xdg-desktop-portal
          - xdg-desktop-portal-wlr
        state: latest

    - name: packages | install wayland packages | Hyprland
      become_user: "{{ user }}"
      shell: yes | yay -S --removemake hyprland-bin
      when: ansible_distribution in ["Archlinux", "Artix Linux"]

    - name: packages | install wayland packages | Waybar
      become_user: "{{ user }}"
      shell: yes | yay -S --removemake waybar-hyprland-git
      when: ansible_distribution in ["Archlinux", "Artix Linux"]

    - name: packages | install wayland packages | wdisplays
      become_user: "{{ user }}"
      shell: yes | yay -S --removemake wdisplays
      when: ansible_distribution in ["Archlinux", "Artix Linux"]

