- name: system setup | lock screen on suspend
  become: true
  block:
    - name: system setup | lock screen on suspend | copy conf file (Systemd)
      copy:
        src: system_setup/systemd_lock_on_suspend.conf
        dest: /etc/systemd/system/slock@.service
        owner: root
        group: root
      when: readlink.stdout.find('systemd') != -1

    - name: system setup | lock screen on suspend | enable service (Systemd)
      service:
        name: "slock@{{ user }}.service"
        enabled: yes
      when: readlink.stdout.find('systemd') != -1

    # TODO Ensure the mode is correct
    - name: system setup | lock screen on suspend | copy conf file (Runit)
      template:
        src: system_setup/runit_lock_on_suspend.j2
        dest: "/etc/elogind/system-sleep/lock.sh"
        owner: root
        group: root
        mode: 0400
      when: readlink.stdout.find('runit') != -1
  when: ansible_distribution in ["Archlinux", "Artix Linux", "Debian"]
