- name: system setup | tap to click
  become: true
  copy:
    src: system_setup/tap_to_click.conf
    dest: /etc/X11/xorg.conf.d/30-touchpad.conf
    owner: root
    group: root
    mode: 0644
  when: ansible_distribution in ["Archlinux", "Artix Linux", "Debian", "Ubuntu"]
