- name: system setup | xorg | block tty access and lock X
  become: true
  copy:
    src: system_setup/xorg_security.conf
    dest: /etc/X11/xorg.conf.d/40-slock.conf
    owner: root
    group: root
    mode: 0644
  when: ansible_distribution in ["Archlinux", "Debian"]
