# Load distro specific variables
- include_vars: "{{ ansible_distribution }}.yml"
  when: ansible_system == "Linux"

- name: Linux setup
  block:
    - import_tasks: packages/install_packages.yml
    - import_tasks: packages/install_libxft.yml
    - import_tasks: packages/install_dwm.yml
    - import_tasks: packages/install_st.yml
    - import_tasks: packages/install_dmenu.yml
    - import_tasks: system_setup/locale.yml
    - import_tasks: system_setup/tap_to_click.yml
    - import_tasks: system_setup/lock_on_suspend.yml
  when: ansible_system == "Linux"
