- name: packages | debloat Gnome
  become: true
  block:
    - name: packages | debloat Gnome | remove unwanted packages
      apt:
        name:
          - geary
          - totem
          - evince
        state: absent
  when: ansible_os_family == "Debian"
