- name: packages | psutil
  block:
    - name: packages | psutil ensure pip is installed
      become_user: "{{ user }}"
      package:
        name: python3-pip
        state: latest

    - name: packages | install psutil
      pip:
        name: psutil
  when: ansible_distribution in ["Ubuntu", "Pop!_OS"]
