# Load distro specific variables
- include_vars: "{{ ansible_distribution }}.yml"
  when: ansible_system == "Linux"

- name: Linux setup
  block:
    - import_tasks: users/ale.yml
    - import_tasks: ansible_setup.yml
    - import_tasks: packages/debloat_debian.yml
    - import_tasks: packages/install_aur_helper.yml
    - import_tasks: packages/install_packages.yml
    # - import_tasks: packages/install_drivers.yml
    - import_tasks: packages/install_autocpufreq.yml
    - import_tasks: packages/install_thermald.yml
    - import_tasks: packages/install_brave.yml
    - import_tasks: packages/install_nordic_theme.yml
    - import_tasks: system_setup/apt.yml
    - import_tasks: system_setup/network.yml
    - import_tasks: system_setup/locale.yml
    - import_tasks: system_setup/pacman.yml
    - import_tasks: system_setup/dotfiles.yml
    - import_tasks: system_setup/remove_beep.yml
    - import_tasks: system_setup/debian_systemctl_shortcuts.yml
    - import_tasks: system_setup/battery_threshold.yml
    - import_tasks: system_setup/bluetooth.yml
  when: ansible_system == "Linux"
