- name: packages | debloat Debian
  become: true
  block:
    - name: packages | debloat Debian | remove unwanted services
      service:
        name: bluetooth
        state: stopped
        enabled: no
      ignore_errors: true

    - name: packages | debloat Debian | remove unwanted packages
      apt:
        name:
          - apache2
          - anacron
          - chafa
          - cron-daemon-common
          - cron
          - debian-faq
          - doc-debian
          - iamerican
          - ibritish
          - ienglish-common
          - jp2a
          - nano
          - powertop
          - packagekit
          - pulseaudio
          - pulseaudio-module-bluetooth
        state: absent

    # https://github.com/terminalforlife/Extra/blob/master/source/simplify-ubuntu/simplify-ubuntu
    - name: packages | debloat Debian | remove claimed by simplify-ubuntu script
      apt:
        name:
          - user-setup
          - virtualbox-guest
          - vmmouse
          - vmware
          - python-libvmdk
          - libvmdk
          - open-vm-tools
          - xserver-xorg-video-qxl
          - brltty
          - brlapi
          - redshift
          - xcursor-themes
          - xterm
          - friendly-recovery
          - dmraid
          - xfonts-thai
          - fonts-tlwg
          - fonts-thai
          - fonts-arphic-
          - fonts-moe-standard-song
          - xfonts-intl-chinese
          - gufw
          - hexchat
          - indicator-status-provider-pidgin
          - pidgin
          - command-not-found
          - python3-commandnotfound
          - flatpak
          - synaptic
          - rhythmbox
          - gparted
          - tomboy
          - unity-scope-tomboy
          - timeshift
          - xscreensaver
          - udisks2
          - duplicity
          - gdebi
          - mobile-broadband-provider-info
          - gnome-disk-utility
          - evince
          - vino
          - libdvd
          - libcdr
          - cd-discid
          - libcdio
          - libcdparanoia0
          - dvd+rw-tools
          - genisoimage
          - brasero
          - baobab
          - libanyevent-i3-perl
          - reiserfsprogs
          - apport
          - python-apport
          - python3-apport
        state: absent

    - name: packages | debloat Debian | remove laptop stuff (Debian desktop)
      apt:
        name:
          - wmbattery
          - whereami
          - urfkill
          - pommed
          - hdapsd
          - fnfxd
          - xbattbar
          - ibam
          - radeontool
          - toshset
          - armada-backlight
          - i8kutils
          - fdpowermon
          - batmon.app
          - battery-stats
          - claws-mail-acpi-notifier
          - gkrellm
          - laptop-detect
          - laptop-mode-tools
          - powerstat
          - powertop
          - xserver-xorg-input-wacom
          - ubuntu-touch
          - ubuntu-application-api3-touch
          - x11-touchscreen-calibrator
          - libfile-touch-perl
          - autopilot-touch
          - xserver-xorg-input-synaptics
        state: absent
      when: ansible_form_factor is undefined or ansible_form_factor != "Notebook"

    - name: packages | debloat Debian | remove claimed non critical package
      apt:
        name:
          - aptitude
          - at
          - aspell
          - aspell-en
          - avahi-daemon
          - bash-completion
          - bin86
          - console-common
          - console-data
          - console-tools
          - dc
          - debian-faq
          - debian-faq-de
          - debian-faq-fr
          - debian-faq-it
          - debian-faq-zh-cn
          - dictionaries-common
          - doc-debian
          - doc-linux-text
          - eject
          - fdutils
          - iamerican
          - ibritish
          - ispell
          - laptop-detect
          - mtr-tiny
          - mutt
          - openssh-server
          - ppp
          - pppconfig
          - pppoe
          - pppoeconf
          - reportbug
          - vim-common
          - vim-tiny
          - w3m
        state: absent
  when: ansible_distribution in ["Debian", "Ubuntu"]
