- name: packages | install drivers
  block:
    - name: packages | install drivers | X230 Bluetooth firmware
      become_user: "{{ user }}"
      command: yay -S --noconfirm bcm20702a1-firmware
      args:
        creates: /usr/bin/auto-cpufreq
      when: ansible_distribution == "Archlinux" and ansible_product_version == "ThinkPad X230"
