- name: packages
  become: true
  block:
    - name: packages | install common packages
      package:
        name:
          - atool
          - bc
          - bleachbit
          - dosfstools
          - exfatprogs
          - firefox
          - fzf
          - gzip
          - htop
          - imagemagick
          - mpv
          - mpv-mpris
          - ncdu
          - neofetch
          - ntfs-3g
          - "{{ openssh_package }}"
          - p7zip
          - ripgrep
          - "{{ fd_package }}"
          - s-tui
          - "{{ unrar_package }}"
          - unzip
          - yt-dlp
          - zathura
          - "{{ zathura_pdf_support_package }}"
          - zip
          - zsh
        state: latest

    - name: packages | install packages for window managers
      package:
        name:
          - "{{ acpi_call_package }}"
          - bluez
          - "{{ bluez_utils_package }}"
          - brightnessctl
          - "{{ libnotify_package }}"
          - man-db
          - "{{ noto_fonts_package }}"
          - "{{ noto_fonts_emoji_package }}"
          - "{{ wpa_supplicant_package }}"
        state: latest
      when: ansible_distribution in ["Archlinux", "Artix Linux", "Debian"]

    - name: packages | install Pacman Contrib package (Archlinux)
      pacman:
        name:
          - pacman-contrib
        state: latest
      when: ansible_distribution in ["Archlinux", "Artix Linux"]

    - name: packages | install polkit package (Archlinux)
      pacman:
        name:
          - polkit
        state: latest
      when: ansible_distribution in ["Archlinux", "Artix Linux"]

    - name: packages | install Bluetooth related stuff (Debian)
      apt:
        name:
          - bluetooth
          - bluez-firmware
          - libspa-0.2-bluetooth
        state: latest
      when: ansible_distribution == "Debian"
