- name: packages | install LF file manager
  block:
    - name: packages | lf | install (Archlinux)
      become: true
      become_user: "{{ user }}"
      command: "{{ aur_helper_name }} --sudoflags '-S' -S --noconfirm lf"
      args:
        creates: /usr/bin/lf
      when: ansible_os_family in ["Archlinux", "Artix Linux"]

    - name: packages | lf | install (Debian)
      become: true
      apt:
        name: lf
        state: latest
      when: ansible_distribution == "Debian"

    - name: packages | lf | install (Other Linux distros)
      unarchive:
        src: "https://github.com/gokcehan/lf/releases/download/{{ lf_version }}/lf-linux-amd64.tar.gz"
        dest: /usr/local/bin
        remote_src: yes
        mode: '0755'
      when: ansible_distribution in ["Ubuntu", "Pop!_OS"]

