- name: system setup | battery threshold | install package (Thinkpads)
  package:
    name: tpacpi-bat
    state: latest
  when: ansible_system_vendor == "LENOVO" and ansible_distribution == "Archlinux"

- name: system setup | battery threshold | clone package repo (Thinkpads Debian)
  git:
    repo: https://github.com/teleshoes/tpacpi-bat.git
    dest: /tmp/tpacpi-bat
  when: ansible_system_vendor == "LENOVO" and ansible_os_family == "Debian"

- name: system setup | battery threshold | install package (Thinkpads Debian)
  command: ./install.pl
  args:
    chdir: /tmp/tpacpi-bat
    creates: /usr/bin/tpacpi-bat
  when: ansible_system_vendor == "LENOVO" and ansible_os_family == "Debian"

- name: system setup | battery threshold | copy service (Thinkpads Debian)
  copy:
    src: system_setup/battery_threshold.service
    dest: /usr/lib/systemd/system/tpacpi.service
  when: ansible_system_vendor == "LENOVO" and ansible_os_family == "Debian"

- name: system setup | battery threshold | create required folder (Thinkpads Debian)
  file:
    path: /etc/conf.d
    state: directory
  when: ansible_system_vendor == "LENOVO" and ansible_os_family == "Debian"

- name: system setup | battery threshold | copy conf (Thinkpads)
  copy:
    src: system_setup/battery_threshold.conf
    dest: /etc/conf.d/tpacpi
  when: ansible_system_vendor == "LENOVO"

- name: system setup | battery threshold | enable service (Thinkpads)
  service:
    name: tpacpi
    state: started
    enabled: yes
  ignore_errors: true
  when: ansible_system_vendor == "LENOVO"
