- name: system setup | pacman
  become: true
  vars:
    nproc: "{{ lookup('pipe', 'nproc') | trim }}"
  block:
    - name: system setup | pacman | make pacman pacman (Archlinux)
      lineinfile:
        dest: /etc/pacman.conf
        regexp: '^ILoveCandy'
        line: 'ILoveCandy'
        insertafter: '^#VerbosePkgLists'

    - name: system setup | pacman | setup parallel downloads (Archlinux)
      lineinfile:
        dest: /etc/pacman.conf
        regexp: '^#ParallelDownloads ='
        line: 'ParallelDownloads = 5'

    - name: system setup | pacman | setup color (Archlinux)
      lineinfile:
        dest: /etc/pacman.conf
        regexp: '^#Color'
        line: 'Color'

    - name: system setup | pacman | multicore compilation (Archlinux)
      lineinfile:
        dest: /etc/makepkg.conf
        regexp: '^\s*#?\s*MAKEFLAGS=.*'
        line: 'MAKEFLAGS="-j{{ nproc }}"'
  when: ansible_os_family in ["Archlinux", "Artix Linux"]
